.TodoItem {
    background-color: #FAFAFA;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    color: #818181;
    font-family: 'Josefin Sans';
}

.TitleUrg{
    color: #818181;
    font-family: 'Josefin Sans';
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 0;
    font-weight: bold;

}

.TodoItem-p {
  margin: 24px 0 24px 10px;
  width: calc(100% - 80px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 24px;
  font-weight: bold;
}
.Icon-check--active {
  color: #2DCCB8;
}

.Icon-delete, 
.Icon-tag {
  font-size: 14px;
} 

.Icon-tag--active {
  color: #ca6969;
  transform: rotate(35deg);
}