.appUI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.appUI-header {
    background: linear-gradient(107deg, #2dccb8, #53a3dc);
    background-size: 200% 100%;
    -webkit-animation: animHeader 0s ease infinite;
    -moz-animation: animHeader 0s ease infinite;
    -o-animation: animHeader 0s ease infinite;
    animation: animHeader 0s ease infinite;
}

@-webkit-keyframes animHeader {
    0% {
        background-position: 2% 0%;
    }
    50% {
        background-position: 99% 100%;
    }
    100% {
        background-position: 2% 0%;
    }
}
@-moz-keyframes animHeader {
    0% {
        background-position: 2% 0%;
    }
    50% {
        background-position: 99% 100%;
    }
    100% {
        background-position: 2% 0%;
    }
}
@-o-keyframes animHeader {
    0% {
        background-position: 2% 0%;
    }
    50% {
        background-position: 99% 100%;
    }
    100% {
        background-position: 2% 0%;
    }
}
@keyframes animHeader {
    0% {
        background-position: 2% 0%;
    }
    50% {
        background-position: 99% 100%;
    }
    100% {
        background-position: 2% 0%;
    }
}

.appUI-Title h3 {
    font-family: Pacifico;
    font-size: 3em;
    letter-spacing: 2px;
}

.appUI-Title p.dateToday {
    font-family: "Josefin Sans";
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.appUI-Title h2 {
    font-family: "Josefin Sans";
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.separator{
  border-top-color: #2dccb8;
  width: 80%;
  margin: 30px auto 20px auto;

}
