.TodoSearch {
    background: #F9FBFC;
    border-radius: 10px;
    height: 64px;
    text-align: center;
    font-family: 'Josefin Sans';
    font-weight: 400;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    width: 70%;
    margin: 0 auto;
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }