.contentFormAdd{
  background-color: #fff;
  color: #818181;
}
.TodoForm-form form {
    width: 90%;
    max-width: 300px;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  
  .TodoForm-form p, .TodoForm-form textarea {
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    letter-spacing: 2px;
    z-index: 1;
    color: #818181;
  }
  
  .TodoForm-form textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Josefin Sans';
    font-weight: 400;
  }
  
  .TodoForm-form  textarea:focus {
    outline-color: #2DCCB8;
  }
  
  .TodoForm-buttonContainer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    color: #A5A5A5;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Josefin Sans';
    font-size: 1em;
    letter-spacing: 2px;
  }
  
  .TodoForm-button--add {
    background: #53A3DC;
    color: #fff;
  }
  
  .TodoForm-button--cancel {
    background: transparent;
  }